/* .hell {
  display: flex;
  text-align: center;
  color: rgb(255, 255, 255);
  font-weight: bold;
  font-family: cursive;
  font-size: 3.8rem;
  margin: 0rem 0rem 2rem 0rem;
  flex-direction: row;
  justify-content: space-evenly;
} */

button{
  align-items: center;
}
.hell {
  text-align: center;
  color: rgb(255, 255, 255);
  font-weight: bold;
  font-family: cursive;
  font-size: 3.8rem;
}
.homeemain {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url(../Images/samurai.jpg);
  background-position: center;
  background-size: cover;
  height: 668px;
  background-repeat: no-repeat;
}
.fontt {
  color: #57bbf9;
  font-weight: bold;
  font-family: cursive;
  font-size: 3.8rem;
 }
 .homeslide {
  background-image: url(../Images/revolvingv.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 55rem;
  font-size: 60px;
  color: #9f9f9f;
  font-family: 'Tilt Prism', cursive;
  justify-content: center;
  flex-direction: column;
  display: flex;
  font-weight: 900;
  text-align: center;
}  
.ok {
  margin: -8rem 0rem 0rem 0rem;
  text-align: center;
  color: whitesmoke;
  font-family: ui-monospace;
}
.clickk {
  color: whitesmoke;
  border: none;
  width: 10rem;
  padding: 10px;
  border-radius: 25px;
  background-color: #57bbf9c8;
}

.clickk:hover {
  background-color: #0000006e;
}

.jk {
  font-weight: bolder;
  text-align: center;
  color: white;
  font-variant: small-caps;
  padding: 10rem;
}

@media (min-width: 320px) and (max-width: 450px) {
    .homeemain{
   
    height: 60rem;
    width: 23.4rem;
    padding: 0rem;
    }
    .ok {
      margin: 0rem 0rem 2rem 0rem;
      text-align: center;
      color: whitesmoke;
      font-family: ui-monospace;
    }
.jk {
  margin-top: 10rem;
  font-weight: bolder;
  text-align: center;
  color: white;
  font-variant: small-caps;
  padding: 4rem;
}
  .clickk {
    color: whitesmoke;
    border: none;
    width: 10rem;
    margin: auto;
    border-radius: 25px;
    background-color: #57bbf9c8;
  }
  .hell {
    margin-top:  120px;
    display: flex;
    text-align: center;
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-family: cursive;
    flex-direction: column
  }

  .clickk:hover {
    background-color: #0000006e;
  }
}






/* card */
.page {
  position: relative;
  box-sizing: border-box;
  max-width: 300px;
  font-family: cursive;
  font-size: 20px;
  border-radius: 10px;
  background: #fff;
  background-image: linear-gradient(#f5f5f0 1.1rem, #ccc 1.2rem);
  background-size: 100% 1.2rem;
  line-height: 1.2rem;
  padding: 1.4rem 0.5rem 0.3rem 4.5rem;
}

.page::before,
.page::after {
  position: absolute;
  content: "";
  bottom: 10px;
  width: 40%;
  height: 10px;
  box-shadow: 0 5px 14px rgba(0, 0, 0, 0.7);
  z-index: -1;
  transition: all 0.3s ease;
}

.page::before {
  left: 15px;
  transform: skew(-5deg) rotate(-5deg);
}

.page::after {
  right: 15px;
  transform: skew(5deg) rotate(5deg);
}

.page:hover::before,
.page:hover::after {
  box-shadow: 0 2px 14px rgba(0, 0, 0, 0.4);
}

.margin {
  position: absolute;
  border-left: 1px solid #d88;
  height: 100%;
  left: 3.3rem;
  top: 0;
}

.page p {
  margin: 0;
  text-indent: 1rem;
  padding-bottom: 1.2rem;
  color: black;
  line-height: 20px;
}