.main {
  text-align: center;
   
}
.modall {
  height: 20rem;
 background-color: #eeeeee;
}

.modal-body {
  position: relative;
  flex: 1 1 auto;
  border-radius: 8px;
  padding: var(--bs-modal-padding);
  background-color: #eeeeee;
}