.navbar-brand {
    margin: 0px 0px 0px 73px;
    font-weight: bold;
}

    .nav-link {
        font-family: monospace;
        margin: 0px 60px 0px 0px;
        font-weight: bolder;
        font-size: x-large;
    }
 .anc{
    text-decoration: none;
    color: black;
    font-family: monospace;
        margin: 0px 60px 0px 0px;
        font-weight: bolder;
        font-size: x-large;
 }