.navbar-brand {
  margin: 0px 0px 0px 73px;
  font-weight: bold;
}

.nav-link {
  font-family: monospace;
  margin: 0px 60px 0px 0px;
  font-weight: bolder;
  font-size: x-large;
}
.anc {
  text-decoration: none;
  color: black;
  font-family: monospace;
  margin: 0px 60px 0px 0px;
  font-weight: bolder;
  font-size: x-large;
}

.ancc {
  text-decoration: none;
  color: black;
  font-family: monospace;
  font-weight: bolder;
  font-size: x-large;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 8px 60px 8px 0px;
}

.nav-link:hover {
  color: rgb(73, 73, 73);
}

.ancc:hover {
  color: rgb(255, 0, 0);
}
@media (min-width: 320px) and (max-width: 450px) {


  .navbar-brand{
    margin: 0%;
  }
}